<h2>Definition: <%= @definition.name %></h2>
<h3>Word: <%= @definition.word.word_input %></h3>

<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <label for="word_name">Song name</label>
    <input id="word_name" name="word_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add definition</button>
</form>

<form action="/words/<%= @definition.word.id %>/definitions/<%= @definition.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-danger">Delete definition</button>
</form>

<a href="/words/<%= @definition.word.id %>">Back to <%= @definition.word.name %></a>

<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <label for="word_name">Definition</label>
    <input id="word_name" name="word_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Add definition</button>
</form>